
h1{
	
	margin: 7% auto;
	text-align: center;
	padding:0;
	color: yellow;
	-webkit-text-stroke: 1px black;
	text-shadow:
	3px 3px 0 #000,
	-1px -1px, 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	float: left;
	margin-top: 20px;
}

li{
	height: 30px;
	line-height: 30px;
	background: white;
	color: #151600;

}

select{
	height: 30px;
	width: 15%;
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Carter One';
	background-color: #0a4087;
	color: #f0f2d7;
}


li span{
	background: red;
	height: 30px;
	margin-right: 20px;
	text-align: center;
	color:black;
	width:0;
	display:inline-block;
	transition:0.2s linear;
	opacity: 0;
}

input:focus{
	background: white;
	border: 3px solid blue;
}

li:hover span{
	
	width: 40px;
	opacity: 1.0;
	transition:0.2s linear;
}

p{
	color: green;

}

li:nth-child(2n){
	background: #bfc4cc;
}

.deckName{
	text-align: center;
	margin: 0;
	/*width: 20%*/
}
.wrapper{
	width: 700px;
	margin: 0 auto;
	/*border: 2px solid black;*/
	padding:0;
}


#deckSelect{
	width: 19%;
	height: 40px;
	padding: 0;
	margin: 0;
}

#addCard{
	width:600px;
	padding: 0;
	margin: 0;
	height: 35px;
}

#deck1{
	width:300px;
	/*border-right: 1px solid black;*/
}

#deck2{
	width: 300px;
}

.input-group .form-control, .input-group-addon, .input-group-btn{
	height: 35px;
	width: 96px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#firstTable{
	box-sizing: border-box;
	width: 50%;
	margin:0;
}
#secondTable{
	width: 50%;
	margin: 0;
	box-sizing: border-box;
}

#deckLists{
	
	/*float: left;*/
}


